.banner{
    position: relative;
    width: 100%;
    height: 100vh;
    
    }
    
    .banner-img{
    width: 100%;
    height: 100vh; 
    mask-image: linear-gradient(to right,transparent,black 75%);
    -weblit-mask-image: linear-gradient(to right,transparent,black 75%);
    }
    
    h2{
    font-size: 3vw;
    }

    .movie{
        width: 93.98vw;
        position: absolute;
        top: 99%;
    }
    
    .banner-caption{
    /* position: absolute;
    width: 50%;
    padding: 5%; */
    bottom: 0; 
    position: absolute;
    width: 50%;
    padding: 4%;
    top: 38%;
    left: 0;
    transform: translateY(-50%);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    color: white;
     /* background: rgba(0, 0, 0, 0.5); */
    }

    .caption-img{
    width: 7%;
    margin-bottom: 30px;
    }

    .nseries{
     display: flex;
    }

    .nseries p{
        color: gray;
        font-weight: 600;
        letter-spacing: 7px;
        font-size: 1.2vw;
    }
    
    .detail{
    font-size: 1vw;
    }
    
    .date{
    font-size: 0.9vw;
    margin-top: 1vw;
    margin-bottom: 1vw;
    }
    
    .date span{
    font-size: 1.2vw;
    }
    
    .hero-btns{
    display: flex;
    gap: 10px;
    margin-bottom: 50px;
    margin-top: 1vw;
    }
    
      .play-btn{ 
    width: 6vw;
    height: 2.3vw;
    border: none;
    border-radius: 2px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    }
     

     
    .play-btn:hover{
    background-color: #ffffffbf;
    }
     

    

    .play-btn span{
    font-size: 1.1vw;
    font-weight: 600;
    padding: 0.4vw;
    }
     
    .info-btn{
    width: 9vw;
    height: 2.3vw;
    color: white;
    background-color: rgba(255, 255, 255, 0.2);
    border: none;
    border-radius: 2px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    }

    .info-btn a{
        text-decoration: none;
        color: white;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    
    .info-btn:hover{
        background-color: #6d6d6e66;
    } 
    
    .info-btn span{
    font-size: 1.1vw;
    font-weight: 500;
    padding: 0.4vw;
    }

    .more-cards{
        padding-left: 4%;
    }

    @media (max-width: 1024px){
       
        .title-cards{
            display: none;
        }

        .hero-btns{
            margin-bottom: 30px;
        }

        .banner-caption p,h2{
            margin-bottom: 10px;
            font-size: 15px;
          }

          .banner-caption{
            width: 60%;
            padding-left: 3%;
          }

          .more-cards{
            padding-left: 3%;
          }

          .detail{
            font-size: 3vw;
          }

          .date span{
            margin-bottom: 10px;
          font-size: 18px;
        }

        h2{
            font-size: 4vw;
            }
    }

    @media (max-width: 800px){
        .movie{
           display: none;
        }

        .banner-caption{
            padding-left: 2%;
            position: absolute;
            top: 35%;
        }

        .banner-img{
            height: 50%;
        }

        /* .hero-btns{
            width: 20px;
        } */

        /* .caption-img{
            margin-bottom: 10px;
            width: 40%;
        } */

        .banner-caption p,h2{
          margin-bottom: 10px;
          font-size: 12px;
        }

         .date span{
            margin-bottom: 10px;
          font-size: 14px;
        }

        /* .playbtn,.info{
            width: 20px;
        }  */

        .more-cards{
            padding-left: 2%;
        }

        .play-btn{
            width: 50px;
            height: 18px;
        }

        .info-btn{
            width: 50px;
            height: 18px;
        }

        .banner-caption{
            width: 90%;
        }

        h2{
            font-size: 4vw;
            }
    }

    @media (max-width:500px){
        /* .caption-img{
            display: none;
        } */

        .hero-btns .btn{
           padding: 4px 10px;
           gap: 5px;
           font-size: 10px;
        }

        .play-btn{
            width: 50px;
            height: 25px;
        }

        .info-btn{
            width: 80px;
            height: 25px;
        }
       
        .play-btn span,.info-btn span{
            font-size: 10px;
            font-weight: 700;
        }

        .date span{
            margin-bottom: 10px;
          font-size: 14px;
        }

        h2{
            font-size: 5vw;
            }

    }
        
    
   